<p id="notice"><%= notice %></p>

<h1 class="text-center font-weight-bold"><%= t('.title') %></h1>

<%= render 'upload_file' %>

<table class='table'>
  <thead class='thead-dark'>
    <tr>
      <th class="align-middle"><%= t('.table.name') %></th>
      <th class="align-middle"><%= t('.table.total_balance_shop') %></th>
      <th class="align-middle"><%= t('.table.occurrence_value') %></th>
      <th class="align-middle"><%= t('.table.transaction_type') %></th>
      <th class="align-middle"><%= t('.table.occurrence_date') %></th>
      <th class="align-middle"><%= t('.table.occurrence_hour') %></th>
      <th class="align-middle"><%= t('.table.credit_card') %></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop, transactions| %>
      <tr>
        <td rowspan='<%= transactions.size %>' class="align-middle">
          <%= shop.name %>
        </td>
        <td
          rowspan='<%= transactions.size %>'
          class='align-middle <%= shop.balance.positive? ? 'bg-success' : 'bg-danger' %>'
        >
          <%= number_to_currency(shop.balance, unit: "R$ ") %>
        </td>
        <% transactions.each do |transaction| %>
          <td class="align-middle"><%= number_to_currency(transaction.value, unit: "R$ ") %></td>
          <td class="align-middle"><%= transaction.transaction_type %></td>
          <td class="align-middle"><%= transaction.occurrence_date.strftime('%d/%m/%Y') %></td>
          <td class="align-middle"><%= transaction.hour %></td>
          <td class="align-middle"><%= transaction.credit_card %></td>
        </tr>
      <% end %>
    <% end %>
    <% if @shops.empty? %>
      <tr>
        <td colspan="7" class="text-center font-weight-bold display-4"> Não há dados </td>
      </tr>
    <% end %>
    <tr>
      <td
        colspan="7"
        class="text-center font-weight-bold <%= Transaction.balance.positive? ? 'bg-success' : 'bg-danger' %>"
      >
      <%= t('.total') %> <%= number_to_currency(Transaction.balance, unit: "R$ ") %>
      </td>
    </tr>
  </tbody>
</table>
<br>
